{
  "mqtt_broker_url": "mqtt://MQTT_USERNAME:MQTT_PASSWORD@MQTT_BROKER_NAME:1883",
  "verbose": true,
  "topics": {
    "mqtt2template/outside": {
      "template": "/templates/outside.erb",
      "output": "/output/outside/index.html"
    },
    "mqtt2template/printers": {
      "template": "/templates/printers.erb",
      "output": "/output/printers/index.html"
    }
  }
}
